*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    background-color: #222222;
    margin: 0 auto;
    max-width: 1280px;
}

header {
    width: 100%;
}

h2, h3 {
    color: white;
}

/* ----- header ----- */

.page-header, .menu {
    background-color: black;
    display: flex;
    justify-content: center;
    max-width: 1280px;
    position: fixed;
    width: 100%;
}

.page-header {
    clip-path: polygon(0% 0%, 
        0% 100%, 5% 94%, 10% 89.5%, 20% 83%, 30% 79%, 40% 76%, 45% 75.3%, 
        50% 75%,
        55% 75.3%, 60% 76%, 70% 79%, 80% 83%, 90% 89.5%, 95% 94%, 100% 100%, 
        100% 0%);
    height: 120px;
    top: 0;
    z-index: 100;
}

.hamburger-menu, .logo, .english-btn {
    height: 75%;
    position: relative;
}
.hamburger-menu {
    width: 25%;
}
.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}
.english-btn {
    width: 25%;
}

.hamburger-menu-btn {
    align-items: center;
    background-color: black;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 15%;
    position: absolute;
    top: 20%;
    width: 60px;
}

.hamburger-menu-btn span,
.hamburger-menu-btn span:before,
.hamburger-menu-btn span:after {
    background-color: white;
    border-radius: 3px;
    content: '';
    height: 4px;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.5s;
    width: 30px;
}
.hamburger-menu-btn span:before {
    bottom: 12px;
}
.hamburger-menu-btn span:after {
    top: 12px;
}

#hamburger-menu-check {
    display: none;
}

#hamburger-menu-check:checked ~ .hamburger-menu-btn span {
    background-color: transparent;
    transition: all 0.5s;
}
#hamburger-menu-check:checked ~ .hamburger-menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    transition: all 0.5s;
}
#hamburger-menu-check:checked ~ .hamburger-menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.5s;
}

.menu {
    max-height: 0;
    top: calc(120px * 0.75);
    transition: max-height 0.5s;
    z-index: 90;
}
.page-header:has(#hamburger-menu-check:checked) ~ .menu {
    background-color: black;
    max-height: 100%;
    transition: all 1s;
}

.menu-btn-wrapper {
    border-top: solid transparent 1px;
    display: flex;
    justify-content: center;
    margin-top: calc(120px * 0.1);
    transition: all 0.5s;
    width: 70%;
}
.page-header:has(#hamburger-menu-check:checked) ~ .menu .menu-btn-wrapper {
    border-top: solid gray 1px;
    transition: all 1.5s;
}

a.menu-btn {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    color: transparent;
    display: flex;
    height: calc(120px * 0.35);
    justify-content:center;
    margin: calc(120px * 0.1) 5px calc(120px * 0.1) 5px;
    pointer-events: none;
    text-decoration: none;
    text-align: center;
    width: 100px;
}
.page-header:has(#hamburger-menu-check:checked) ~ .menu a.menu-btn {
    box-shadow: -1px -1px 2px dimgray, inset -1px -1px 2px transparent;
    color: white;
    pointer-events: all;
    transition: all 0.5s;
}

.page-header:has(#hamburger-menu-check:checked) ~ .menu a.menu-btn:hover {
    box-shadow: -1px -1px 2px transparent, inset -1px -1px 2px dimgray;
    transition: all 0.5s;
}

/* ----- earth interior ----- */

.earth-interior {
    display: flex;
    height: 750px;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.crust, .mantle, .outer-core, .inner-core {
    border-radius: 100%;
    position: absolute;
    margin-top: -150px;
}

.crust {
    width: calc(637px * 1.3); 
    height: calc(637px * 1.3); 
    background-color: saddlebrown;
}

.mantle {
    width: calc(607px * 1.3); 
    height: calc(607px * 1.3); 
    background-color: orangered;
    top: calc((637px - 607px) * 1.3 / 2);
    background-size: 20px 20px;
}

.outer-core {
    width: calc(348px * 1.3); 
    height: calc(348px * 1.3); 
    background-color: coral;
    top: calc((637px - 348px) * 1.3 / 2);
}

.inner-core {
    width: calc(120px * 1.3); 
    height: calc(120px * 1.3); 
    background-color: orange;
    top: calc((637px - 120px) * 1.3 / 2);
}

/* ----- for PC ----- */

@media (min-width: 1020px) {

}